.advantages
    .advantages__board
        .advantages__container.container
            h1.advantages__title Наши преимущества
            ul.board__menu
                li.menu__item
                    a.menu__link(href="#") Стабильность и защищенность
                li.menu__item.menu__item_active
                    a.menu__link(href="#") Уверенность в завтрашнем дне
                li.menu__item
                    a.menu__link(href="#") Удобный и гибкий график
                li.menu__item
                    a.menu__link(href="#") Бесплатное питание и обучение
                li.menu__item
                    a.menu__link(href="#") Рядом с домом и учебой
                li.menu__item
                    a.menu__link(href="#") Школа сотрудников
        .main-btn__block
                a.main__btn.btn__prev(href="#") Назад
                a.main__btn.btn__next(href="#") Вперед
    .board__wave
    .advantages__content
            .content__wrap
                h2.content__title Стабильность и защищенность
                ul.content__text 
                    li.text__point Его отношения с работодателем оформлены в соответствии с действующим законодательством. С первого дня с работником заключается трудовой договор, заводится трудовая книжка
                    li.text__point Заработная плата выплачивается вовремя, уплачиваются все налоги.
                    li.text__point Очередные отпуска предоставляются и оплачиваются в соответствии с законодательством.
                    li.text__point Больничные листы оплачиваются.
                    li.text__point Он получит страховое свидетельство пенсионного фонда, если ранее такого не имел.
                    li.text__point В случае рождения ребенка работник получит все соответствующие выплаты: оплату декретного больничного листа, пособие по уходу за ребенком. Во время декретного больничного листа и отпуска по уходу за ребенком за работником сохраняется рабочее место.
                    li.text__point Студентам дневной формы обучения предоставляются учебные отпуска для сдачи экзаменов, студентам вечерней и заочной формы обучения предоставляются оплачиваемые учебные отпуска в соответствии с законодательством.

