header.header
    .header__container.container
        .header__nav
            .nav__contacts
                a.nav__logo(href="/")
                    img(src="../assets/images/logo.png")
                a.nav__phone(href="tel:123141234") +7 (495) 554-46-45
            ul.nav__menu
                li.menu__item
                    a.menu__link(href="#") Вакансии
                li.menu__item.menu__item_active
                    a.menu__link(href="#") Преимущества
                li.menu__item
                    a.menu__link(href="#") О компании
                li.menu__item
                    a.menu__link(href="#") Истории успеха
                li.menu__item
                    a.menu__link(href="#") Школа сотрудника
