.vacancy
    .vacancy__container.container
        .vacancy__title
            h1 Контактная информация
        .vacancy__map
            .map#map
        .vacancy__item
            a.item__title(href="#") Вакансии в АЗС №19
            a.item__link(href="#") Оператор-кассир АЗС
            a.item__link(href="#") Водитель бензовоза
            a.item__link(href="#") Повар ресторана
        p.vacancy__point Выберите точку, чтобы посмотреть Вакансии
        