.study
    .study__container.container
        h1.study__title Как мы обучаем и чему можно научиться в нашей школе
        .study__slider
            .item
                .item__wrap
                    .item__image
                        img.item__img(src="assets/icons/study-item__img.svg")
                    .item__title Командная работа
                    p.item__text Товарищи! сложившаяся структура организации влечет за собой процесс внедрения и модернизации новых предложений. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации.
                    a.item__link(href="#") Истории успеха
            .item
                .item__wrap
                    .item__image
                        img.item__img(src="assets/icons/study-item__img.svg")
                    .item__title Командная работа
                    p.item__text Товарищи! сложившаяся структура организации влечет за собой процесс внедрения и модернизации новых предложений. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации.
                    a.item__link(href="#") Истории успеха
            .item
                .item__wrap
                    .item__image
                        img.item__img(src="assets/icons/study-item__img.svg")
                    .item__title Командная работа
                    p.item__text Товарищи! сложившаяся структура организации влечет за собой процесс внедрения и модернизации новых предложений. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации.
                    a.item__link(href="#") Истории успеха
            .item
                .item__wrap
                    .item__image
                        img.item__img(src="assets/icons/study-item__img.svg")
                    .item__title Командная работа
                    p.item__text Товарищи! сложившаяся структура организации влечет за собой процесс внедрения и модернизации новых предложений. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки соответствующий условий активизации.
                    a.item__link(href="#") Истории успеха
                
            
