@font-face
    font:
        family: "Open Sans"
        weight: 400
        style: normal
    src: url('../fonts/OpenSans/OpenSans.ttf')
@font-face
    font:
        family: "TTN"
        weight: 300
        style: normal
    src: url('../fonts/TTNorms-Light.ttf')
@font-face
    font:
        family: "TTN"
        weight: 400
        style: normal
    src: url('../fonts/TTNorms-Regular.ttf')
@font-face
    font:
        family: "TTN"
        weight: 500
        style: normal
    src: url('../fonts/TTNorms-Medium.ttf')
@font-face
    font:
        family: "TTNorms-Bold"
        weight: 700
        style: normal
    src: url('../fonts/TTNorms-bold.ttf')
@font-face
    font:
        family: "YesevaOne"
        weight: 400
        style: normal
    src: url('../fonts/YesevaOne-Regular.ttf')



    
    
