.popup
    .popup__container.container
        .popup__content
            .popup__wrap
                a.popup__close(href="#")
                video.popup__video(src="../assets/images/fox.mp4")
                .popup__play adsasd
                
