<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    title Document

    //- Styles: Libraries
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
    //-link(rel="stylesheet", href="../assets/styles/libraries/owl.carousel.min.css")
    link(rel="stylesheet", href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")



    //- Styles: Plugins
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.5/fullpage.min.css")

    //- Styles: Custom
    link(rel="stylesheet", href="../assets/styles/index.css")
  
    //- Script: Libraries
    script(src="../assets/scripts/libraries/jquery.3.3.1.js" defer)
    script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer)
    //-script(src="../assets/scripts/libraries/owl.carousel.min.js" defer)
    
    //- Script: Plugins
    script(src="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.5/fullpage.min.js")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=a6c49f6a-45b1-497c-a5e2-253191c4e64f&lang=ru_RU" type="text/javascript")
    
    //- Scripts: Custom
    script(src="../assets/scripts/index.js" defer)


  block body