.vacancy-list
    .vacancy-list__container.container
        .vacancy-list__board
            h1.vacancy-list__title Вакансии
            ul.board__menu
                li.menu__item
                    a.menu__link(href="#") Оператор-кассир АЗС
                li.menu__item.menu__item_active  
                    a.menu__link(href="#") Менеджер ресторана
                li.menu__item
                    a.menu__link(href="#") Кассир ресторана
                li.menu__item
                    a.menu__link(href="#") Водитель бензовоза
                li.menu__item
                    a.menu__link(href="#") Повар ресторана
                li.menu__item
                    a.menu__link(href="#") Заправщик АЗС    
        .vacancy-list__content
            .content__list
                ul.list__title Должностные обязанности
                    li.list__item Помощь гостям в выборе блюд, консультация по составу блюд
                    li.list__item Работа с кассовым аппаратом
                    li.list__item Соблюдение правил личной гигиены и правил приготовления блюд
                    li.list__item Поддержание чистоты на рабочем месте
                    li.list__item Участие в инвентаризации
                    li.list__item Соблюдение стандартов Компании
                ul.list__title.list__title_sec Требования к кандидату
                    li.list__item Желание работать и развиваться в сфере ресторанного бизнеса
                    li.list__item Хорошие коммуникативные навыки, стрессоустойчивость
                    li.list__item Наличие таких качеств как ответственность, доброжелательность
                    li.list__item Действующая медицинская книжка или готовность ее сделать
                    li.list__item Приятные внешние данные
                    li.list__item Можно без опыта работы. ВСЕМУ НАУЧИМ!
                ul.list__title.list__title_third Условия труда
                    li.list__item Ребота в ресторане быстрого питания на АЗК Нефтьмагистраль
                    li.list__item Трудоустройство по ТК РФ
                    li.list__item Сменный график работы
                    li.list__item Стабильная з.п. + премии по результатам работы
                    li.list__item Бесплатное питание
                    li.list__item Бесплатная униформа
                    li.list__item Корпоративное обучение + оплачиваемая стажировка 
                a.main__btn.btn__prev(href="#") Назад
                a.main__btn.btn__next(href="#") Вперед