.success
    .success__board
        .success__container.container
            h1.success__title Истории успеха
    .board__wave
    .success__slider
            .success__wrap.success__wrap_top
                .success__item
                    .item__image
                    .item__content
                        .item__name Дмитрий Романов
                        span.item__position водитель бензовоза
                        p.item__text Начиная с 2001 года я успешно работала в Москве и Московской области и реализовала большую часть своих амбиций
                        a.item__more.item__more_top(href="#") Читать далее
                .success__item
                    .item__image
                    .item__content
                        .item__name Дмитрий Романов
                        span.item__position водитель бензовоза
                        p.item__text Начиная с 2001 года я успешно работала в Москве и Московской области и реализовала большую часть своих амбиций
                        a.item__more.item__more_top(href="#") Читать далее
            .success__line
            .success__wrap.success__wrap_bottom
                .success__item
                    .item__image
                    .item__content
                        .item__name Дмитрий Романов
                        span.item__position водитель бензовоза
                        p.item__text Начиная с 2001 года я успешно работала в Москве и Московской области и реализовала большую часть своих амбиций
                        a.item__more(href="#") Читать далее 
                .success__item
                    .item__image
                    .item__content
                        .item__name Дмитрий Романов
                        span.item__position водитель бензовоза
                        p.item__text Начиная с 2001 года я успешно работала в Москве и Московской области и реализовала большую часть своих амбиций
                        a.item__more(href="#") Читать далее