@import '../fonts/fonts'

@import 'base/title'
@import 'base/container'
@import 'base/common'
@import '../blocks/header/header'
@import '../blocks/popup/popup'
@import '../blocks/main-page/main-page'
body
    background-color: rgb(214,222,226)
    font-family: 'TTN'
    

h1, h2, h3, h4, h5, h6
    margin: 0