.history
    height: calc(100vh - 94px)
    background-image: url('../icons/bg_yellow.svg')
    background-repeat: no-repeat
    background-size: contain
    background-position: bottom
    box-sizing: border-box
    padding-top: 35px 
    &__container
        width: 100%
        max-width: 820px
        padding-left: 60px
        box-sizing: border-box

    // &__pagination
    //     position: absolute
    //     top: 50%
        // .pagination
            
            &__item
                // font-size: 13px
                // font-weight: bold
                // background-repeat: no-repeat
                // background-size: 75px 25px
                // text-align: left
                // padding-left: 10px
                // line-height: 25px
                // width: 75px
                // height: 29px
                // position: relative
                // margin: 30px 0
                // cursor: pointer
                // background-image: url('../icons/button_wight.svg')
                // // background-position: -100px
                // background-size: 0% 0%
                // transition: background-position .3s ease-in-out, background-size .3s ease-in-out
                // &_active
                //     transition: background-size .3s ease
                //     background-image: url('../icons/button_wight.svg')
                //     // background-position: center
                //     background-size: 100% 80%
                //     transition: background-position .3s ease-in-out, background-size .3s ease-in-out
                    
                    
                //     &::before
                //         background-color: rgb(216,6,0) !important
                // &:hover
                //     &::before
                //         content: ''
                //         position: absolute
                //         width: 10px
                //         height: 10px
                //         border-radius: 50%
                //         background-color: rgb(216,6,0) !important
                //         // background-color: #ffffff
                //         right: 18px
                //         bottom: 11px
                //         transition: all .3s ease-in-out 
                // &::before
                //     content: ''
                //     position: absolute
                //     width: 10px
                //     height: 10px
                //     border-radius: 50%
                //     background-color: #ffffff
                //     right: 18px
                //     bottom: 11px
                // &::after
                //     content: ''
                //     position: absolute
                //     width: 6px
                //     height: 6px
                //     border-radius: 50%
                //     background-color: rgb(216,6,0)
                //     right: 20px
                //     bottom: 13px


    &__slider
        width: 100%
        max-width: 810px
        margin-top: 150px
        position: relative
        .slick-dots
            position: absolute
            top: 10%
            &::before
                content: ''
                position: absolute
                background-image: url('../icons/img012.svg')
                background-repeat: no-repeat
                background-size: contain
                width: 100px
                height: 65px
                left: -60px
                top: -25px
            .slick-active
                    transition: background-size .3s ease
                    background-image: url('../icons/button_wight.svg')
                    // background-position: center
                    background-size: 100% 80%
                    transition: background-position .3s ease-in-out, background-size .3s ease-in-out
                    
                    
                    &::before
                        background-color: rgb(216,6,0) !important
            li
                font-size: 14px
                font-weight: bold
                background-repeat: no-repeat
                background-size: 75px 25px
                text-align: left
                padding-left: 10px
                line-height: 25px
                width: 75px
                height: 29px
                position: relative
                margin: 40px 0
                cursor: pointer
                background-image: url('../icons/button_wight.svg')
                // background-position: -100px
                background-size: 0% 100%
                transition: background-position .3s ease-in-out, background-size .3s ease-in-out
                
                button
                    border: none
                    background-color: transparent
                    outline: none
                    position: relative
                    &::after
                        content: ''
                        position: absolute
                        background-image: url(../icons/line_wight_history.svg)
                        background-repeat: no-repeat
                        background-size: contain
                        width: 3px
                        height: 45px
                        bottom: -50px
                        left: 60%
                &:last-child
                    button
                        &::after
                            display: none
                
                &:hover
                    &::before
                        content: ''
                        position: absolute
                        width: 10px
                        height: 10px
                        border-radius: 50%
                        background-color: rgb(216,6,0) !important
                        // background-color: #ffffff
                        right: 18px
                        bottom: 11px
                        transition: all .3s ease-in-out 
                &::before
                    content: ''
                    position: absolute
                    width: 10px
                    height: 10px
                    border-radius: 50%
                    background-color: #ffffff
                    right: 18px
                    bottom: 11px
                &::after
                    content: ''
                    position: absolute
                    width: 6px
                    height: 6px
                    border-radius: 50%
                    background-color: rgb(216,6,0)
                    right: 20px
                    bottom: 13px

        &::before
            width: 100%
            height: 135px
            content: ''
            position: absolute
            background-image: url(../icons/img011.svg)
            background-size: contain
            background-repeat: no-repeat
            background-position: top    
            top: -120px

        .slick-arrow
            position: absolute 
            top: -115px
            color: transparent
            border: none
            padding: 0
            outline: none
            cursor: pointer
            

        .slick-prev
            left: 0     
            width: 0
            &::before
                content: 'Назад'
                color: #000000
                position: absolute
                font-weight: bold
                left: 30px
                top: 22px
                font-size: 15px

            &::after
                width: 31px
                height: 32px
                position: absolute
                content: ''
                background-image: url('../icons/prev.svg')
                color: #000000
                background-repeat: no-repeat
                left: 0
                top: 15px

        .slick-next
            right: 0
            width: 0
            
            &::before
                content: 'Вперед'
                position: absolute
                color: #000000
                top: 25px
                right: 20px
                font-size: 15px
                font-weight: bold
                
                 

            &::after
                width: 31px
                height: 32px   
                position: absolute
                content: ''
                color: #000000
                background-repeat: no-repeat
                background-size: contain
                background-position: right
                background-image: url('../icons/next.svg')
                top: 20px
                left: -20px
                
    &__title
        font-size: 36px
        font-family: 'YesevaOne'
    .item
        text-align: center
        outline: none

        &__date
            font-family: 'YesevaOne'
            font-size: 220px
            color: rgb(216,6,0)
            position: relative
            max-width: 570px
            margin: 0 auto
            
        

            
            &::after
                content: ''
                width: 110px
                height: 230px
                background-image: url('../icons/img013.svg')
                position: absolute
                background-repeat: no-repeat
                background-size: 95px !important
                width: 110px
                height: 230px
                right: -105px
                bottom: -135px
        &__content
            display: flex
            background-image: url('../icons/history_block.svg')
            background-size: contain
            background-repeat: no-repeat
            padding: 30px 35px
            max-width: 570px
            height: 230px
            box-sizing: border-box
            margin: 0 auto
            align-items: center
            .content
                &__img
                    max-width: 170px
                    width: 100%
                    height: 160px
                    background-image: url('../images/history-item.png')
                    background-repeat: no-repeat
                    background-size: cover
                    flex-shrink: 0
                    margin-right: 20px
                &__text
                    padding: 20px 0
                    line-height: 25px
