.history
    .history__container.container
        h1.history__title История компании
        .history__slider

            .item
                .item__date 2001
                .item__content 
                    .content__img
                    .content__text Начинаем с 2001 года мы успешно работаем  Москве и Московской области и реализуем качественное топливо класса Евро-5
            .item
                .item__date 2001
                .item__content 
                    .content__img
                    .content__text Начинаем с 2001 года мы успешно работаем  Москве и Московской области и реализуем качественное топливо класса Евро-5
            .item
                .item__date 2001
                .item__content 
                    .content__img
                    .content__text Начинаем с 2001 года мы успешно работаем  Москве и Московской области и реализуем качественное топливо класса Евро-5
            .item
                .item__date 2001
                .item__content 
                    .content__img
                    .content__text Начинаем с 2001 года мы успешно работаем  Москве и Московской области и реализуем качественное топливо класса Евро-5
            .item
                .item__date 2001
                .item__content 
                    .content__img
                    .content__text Начинаем с 2001 года мы успешно работаем  Москве и Московской области и реализуем качественное топливо класса Евро-5
        ul.history__pagination
            li.pagination__item.pagination__item_active 2001
            li.pagination__item 2005
            li.pagination__item 2009
            li.pagination__item 2018
            li.pagination__item 2019
