extends ../blocks/head/head

block body
  body
    .app
      .app__header
        include ../blocks/header/header
      
      .app__main
        block main
          

      .app__footer
        include ../blocks/footer/footer


    include ../blocks/popup/popup