.contacts
    .contacts__container.container
        .contacts__title
            h1 Контактная информация
        .contacts__map
            .map#map
        .map__slider

            .item
                .item__content
                        p.content__name Адрес:
                        p.content__value Москва, Волгоградский проспект 24, офис 23
                        a.content__mail(href="#") pweotqre@mail.ru
                        a.content__tel(href="tel:2124124132") +7 (495) 123-23-23
                        a.content__more-info(href="#") Информация об офисе
            .item
                .item__content
                        p.content__name Адрес:
                        p.content__value Москва, Волгоградский проспект 24, офис 23
                        a.content__mail(href="#") pweotqre@mail.ru
                        a.content__tel(href="tel:2124124132") +7 (495) 123-23-23
                        a.content__more-info(href="#") Информация об офисе
            .item
                .item__content
                        p.content__name Адрес:
                        p.content__value Москва, Волгоградский проспект 24, офис 23
                        a.content__mail(href="#") pweotqre@mail.ru
                        a.content__tel(href="tel:2124124132") +7 (495) 123-23-23
                        a.content__more-info(href="#") Информация об офисе
            .item
                .item__content
                        p.content__name Адрес:
                        p.content__value Москва, Волгоградский проспект 24, офис 23
                        a.content__mail(href="#") pweotqre@mail.ru
                        a.content__tel(href="tel:2124124132") +7 (495) 123-23-23
                        a.content__more-info(href="#") Информация об офисе
            .item
                .item__content
                        p.content__name Адрес:
                        p.content__value Москва, Волгоградский проспект 24, офис 23
                        a.content__mail(href="#") pweotqre@mail.ru
                        a.content__tel(href="tel:2124124132") +7 (495) 123-23-23
                        a.content__more-info(href="#") Информация об офисе    
        a.contacts__callback(href="#") Форма обратной связи