.contacts
    .contacts__container.container
        .contacts__title
            h1 Контактная информация
        .contacts__map
            .map#map
        .map__slider

            .item
                .item__date 2001
                .item__content 
                    .content__img
                    .content__text Начинаем с 2001 года мы успешно работаем  Москве и Московской области и реализуем качественное топливо класса Евро-5
            .item
                .item__date 2001
                .item__content 
                    .content__img
                    .content__text Начинаем с 2001 года мы успешно работаем  Москве и Московской области и реализуем качественное топливо класса Евро-5
            .item
                .item__date 2001
                .item__content 
                    .content__img
                    .content__text Начинаем с 2001 года мы успешно работаем  Москве и Московской области и реализуем качественное топливо класса Евро-5
            .item
                .item__date 2001
                .item__content 
                    .content__img
                    .content__text Начинаем с 2001 года мы успешно работаем  Москве и Московской области и реализуем качественное топливо класса Евро-5
            .item
                .item__date 2001
                .item__content 
                    .content__img
                    .content__text Начинаем с 2001 года мы успешно работаем  Москве и Московской области и реализуем качественное топливо класса Евро-5    
